        </main>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <ul class="mdl-mini-footer__link-list">
                    <li style="width: 150px;"><a href="http://www.kaicoin.io/" target="_blank">Kaicoin</a>&nbsp;Explorer by Greenstage Lab.</li>
                    <li><a class="mdl-navigation__link sns" href="https://github.com/kaicoin-io" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="mdl-navigation__link sns" href="https://www.facebook.com/kaicoin.global" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a class="mdl-navigation__link sns" href="https://twitter.com/kaicoin_global" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a class="mdl-navigation__link sns fa-google-play-wrapper" href="https://play.google.com/store/apps/details?id=com.greenstagelab.kaicoin.wallet" target="_blank"><i class="fab fa-google-play"></i></a></li>
                    <li><a class="mdl-navigation__link sns" href="http://www.kaicoin.io/ios_download.html" target="_blank"><i class="fab fa-apple"></i></a></li>
                </ul>
            </div>
        </footer>

    </div>

</div>

<div id="mtd-snack-empty-search" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text">Couldn't find a block or a transaction</div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<dialog id="diag-common-alert" class="mdl-dialog">
    <div class="three-balls">
        <div class="ball ball1"></div><div class="ball ball2"></div><div class="ball ball3"></div>
    </div>
    <div class="mdl-dialog__content"></div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">CLOSE</button>
    </div>
</dialog>

<dialog id="diag-text-alert" class="mdl-dialog diag-text-alert">
    <div class="mdl-dialog__content">
        <div class="mtd-diag-title"></div>
        <textarea class="mtd-diag-content-area" readonly onfocus="this.blur();"></textarea>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">CLOSE</button>
    </div>
</dialog>

<dialog id="diag-common-confirm" class="mdl-dialog">
    <div class="mdl-dialog__content">
    <p>Allowing us to collect data will let us get you the information you want faster.</p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button">Agree</button>
        <button type="button" class="mdl-button close">Disagree</button>
    </div>
</dialog>

<!-- MDL Spinner Component with Single Color -->
<div id="progress-loader" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner"></div>

<script src="/res/js/jquery-1.11.3.min.js"></script>
<script src="/res/js/material.min.js"></script>
<script src="/res/js/materialize.js"></script>
<script src="/res/js/explorer.js"></script>
<script src="/res/js/socket.io.js"></script>
<script>
$(function(){
    app.init();
});

</script>
</body>
</html>