<div class="mtd-search-area">
    <input id="search-keyword" class="mdl-textfield__input" style="width: calc(100% - 78px);" type="text" placeholder="TX ID, Block Height/Hash, Address">
    <button id="mtd-btn-search" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--kaicoin"><i class="material-icons">search</i></button>
</div>