    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <ul class="mdl-mini-footer__link-list">
                <li><a href="http://www.kaicoin.io/" target="_blank">Kaicoin</a> Explorer by Greenstage Lab.</li>
                <li><a href="https://stocks.exchange/trade/KAI/BTC" target="_blank"><i class="fas fa-chart-line"></i></a></li>
                <!--<a href="https://stocks.exchange/trade/KAI/BTC" target="_blank"><i class="material-icons">trending_up</i></a></li>-->
            </ul>
        </div>
    </footer>

</div>

<script src="/res/js/jquery-1.11.3.min.js"></script>
<script src="/res/js/material.min.js"></script>
<script src="/res/js/explorer.js"></script>
<script src="/res/js/socket.io.js"></script>
<script>
$(function(){
    app.init();
    /*
    const socket = io('/'); // '/'
    socket.on('connect', function () {
        console.log('io connected');
    });
    socket.on('connection', function (data) {
        console.log('io connection');
    });
    socket.on('message', function (data) {
        console.log('io message ' + JSON.stringify(data));
        // socket.emit('message', {'name': 'client'});
    });
    */
});
</script>
</body>
</html>