    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <ul class="mdl-mini-footer__link-list">
                <li><a href="http://www.kaicoin.io/" target="_blank">Kaicoin</a> Explorer by Greenstage Lab.</li>
                <li><a href="https://stocks.exchange/trade/KAI/BTC" target="_blank"><i class="fas fa-chart-line"></i></a></li>
                <!--<a href="https://stocks.exchange/trade/KAI/BTC" target="_blank"><i class="material-icons">trending_up</i></a></li>-->
            </ul>
        </div>
    </footer>

</div>

<dialog id="diag-common-alert" class="mdl-dialog">
    <div class="three-balls">
        <div class="ball ball1"></div><div class="ball ball2"></div><div class="ball ball3"></div>
    </div>
    <div class="mdl-dialog__content"></div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">CLOSE</button>
    </div>
</dialog>

<dialog id="diag-common-confirm" class="mdl-dialog">
    <div class="mdl-dialog__content">
    <p>Allowing us to collect data will let us get you the information you want faster.</p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button">Agree</button>
        <button type="button" class="mdl-button close">Disagree</button>
    </div>
</dialog>

<!-- MDL Spinner Component with Single Color -->
<div id="progress-loader" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner"></div>

<script src="/res/js/jquery-1.11.3.min.js"></script>
<script src="/res/js/material.min.js"></script>
<script src="/res/js/materialize.js"></script>
<script src="/res/js/explorer.js"></script>
<script src="/res/js/socket.io.js"></script>
<script>
$(function(){
    app.init();
});

</script>
</body>
</html>