<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/res/img/fav/favicon-16.png" sizes="16x16">
    <link rel="icon" href="/res/img/fav/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/res/img/fav/favicon-48.png" sizes="48x48">
    <link rel="icon" href="/res/img/fav/favicon-64.png" sizes="64x64">
    <link rel="icon" href="/res/img/fav/favicon-128.png" sizes="128x128">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Kaicoin Explorer</title>
    <link rel="stylesheet" href="/res/css/material.min.css" type="text/css">
    <link rel="stylesheet" href="/res/css/roboto.css" type="text/css">
    <link rel="stylesheet" href="/res/css/material-icons.css" type="text/css">
    <link rel="stylesheet" href="/res/css/fontawesome-all.min.css" type="text/css">
    <link rel="stylesheet" href="/res/css/explorer.css" type="text/css">

    <style>

    </style>

</head>
<body>

<div class="mdl-layout mdl-js-layout">

    <header class="mdl-layout__header mdl-layout--fixed-header mdl-shadow--2dp">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a title="home" href="/"><img src="/res/img/ic_logo_land.png"></a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/summary">Summary</a>
                <a class="mdl-navigation__link" href="/blocks">Blocks</a>
                <a class="mdl-navigation__link" href="/txs">Transactions</a>
                <a class="mdl-navigation__link" href="http://www.kaicoin.io/" target="_blank">Kaicoin&nbsp;<i class="fas fa-external-link-alt"></i></a>
                <a class="mdl-navigation__link" href="https://github.com/kaicoin-io" target="_blank"><i class="fab fa-github"></i></a>
                <a class="mdl-navigation__link" href="https://www.facebook.com/kaicoin.global" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a class="mdl-navigation__link" href="https://twitter.com/kaicoin_global" target="_blank"><i class="fab fa-twitter-square"></i></a>
            </nav>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><a title="home" href="/"><img src="/res/img/ic_logo_land.png"></a></span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/summary">Summary</a>
            <a class="mdl-navigation__link" href="/blocks">Blocks</a>
            <a class="mdl-navigation__link" href="/txs">Transactions</a>
            <a class="mdl-navigation__link" href="http://www.kaicoin.io/" target="_blank">Kaicoin&nbsp;<i class="fas fa-external-link-alt"></i></a>
            <ul class="mtd-drawer-ul">
                <li>
                <a class="mdl-navigation__link" href="https://github.com/kaicoin-io" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                <a class="mdl-navigation__link" href="https://www.facebook.com/kaicoin.global" target="_blank"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li>
                <a class="mdl-navigation__link" href="https://twitter.com/kaicoin_global" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </li>
            </ul>
        </nav>
    </div>
