<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO start -->
    <meta name="keywords" content="kaicoin,kai,coin,blockchain,explorer,cypto,cyptocurrency,wallet,digital,asset,bitcoin,ICO,Ethereum,BTC,ETH,XRP,mining,블록체인,암호화폐,가상화폐,전자화폐,디지털화폐,암호화폐지갑,가상화폐지갑,지갑,월렛,비트코인,이더리움,리플,채굴,마이닝">

    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary">
    <meta property="og:site_name" content="Kaicoin.io"/>
    <meta name="twitter:site" content="Kaicoin.io">

    <meta name="title" content="Kaicoin Block Explorer - kaicoin.io">
    <meta property="og:title" content="Kaicoin Block Explorer">
    <meta name="twitter:title" content="Kaicoin Block Explorer">

    <meta property="og:url" content="http://blockchain.kaicoin.io/">
    <meta name="twitter:url" content="http://blockchain.kaicoin.io/">

    <meta property="og:image" content="http://blockchain.kaicoin.io/res/img/meta-preview-image.png">
    <meta name="twitter:image" content="http://blockchain.kaicoin.io/res/img/meta-preview-image.png">

    <meta name="description" content="Search the Kaicoin blockchain blocks, transactions, addresses and summary">
    <meta property="og:description" content="Kaicoin Explorer provides information of Kaicoin blocks, transactions, addresses and summary">
    <meta name="twitter:description" content="Kaicoin Explorer provides information of Kaicoin blocks, transactions, addresses and summary">

    <!-- SEO end -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Kaicoin Explorer</title>

    <link rel="icon" href="/res/img/fav/favicon-16.png" sizes="16x16">
    <link rel="icon" href="/res/img/fav/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/res/img/fav/favicon-48.png" sizes="48x48">
    <link rel="icon" href="/res/img/fav/favicon-64.png" sizes="64x64">
    <link rel="icon" href="/res/img/fav/favicon-128.png" sizes="128x128">
    <link rel="stylesheet" href="/res/css/material.min.css" type="text/css">
    <link rel="stylesheet" href="/res/css/roboto.css" type="text/css">
    <link rel="stylesheet" href="/res/css/material-icons.css" type="text/css">
    <link rel="stylesheet" href="/res/css/fontawesome-all.min.css" type="text/css">
    <link rel="stylesheet" href="/res/css/explorer.css" type="text/css">

</head>
<body>

<div class="mdl-layout mdl-js-layout">

    <header class="mdl-layout__header mdl-layout--fixed-header mdl-shadow--2dp">

        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a title="home" href="/"><img src="/res/img/ic_logo_land.png"></a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/summary">Summary</a>
                <a class="mdl-navigation__link" href="/blocks">Blocks</a>
                <a class="mdl-navigation__link" href="/txs">Transactions</a>
                <a class="mdl-navigation__link" href="http://www.kaicoin.io/" target="_blank">Kaicoin&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a>
                <a class="mdl-navigation__link sns" href="https://github.com/kaicoin-io" target="_blank"><i class="fab fa-github"></i></a>
                <a class="mdl-navigation__link sns" href="https://www.facebook.com/kaicoin.global" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a class="mdl-navigation__link sns" href="https://twitter.com/kaicoin_global" target="_blank"><i class="fab fa-twitter-square"></i></a>
                <a class="mdl-navigation__link sns" href="https://play.google.com/store/apps/details?id=com.greenstagelab.kaicoin.wallet" target="_blank"><i class="fab fa-google-play"></i></a>
                <a class="mdl-navigation__link sns" href="http://www.kaicoin.io/ios_download.html" target="_blank"><i class="fab fa-app-store-ios"></i></a>
            </nav>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><a title="home" href="/"><img src="/res/img/ic_logo_land.png"></a></span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/summary">Summary</a>
            <a class="mdl-navigation__link" href="/blocks">Blocks</a>
            <a class="mdl-navigation__link" href="/txs">Transactions</a>
            <a class="mdl-navigation__link" href="http://www.kaicoin.io/" target="_blank">Kaicoin&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a>
            <ul class="mtd-drawer-ul">
                <li><a class="mdl-navigation__link" href="https://github.com/kaicoin-io" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a class="mdl-navigation__link" href="https://www.facebook.com/kaicoin.global" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a class="mdl-navigation__link" href="https://twitter.com/kaicoin_global" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
            </ul>
            <ul class="mtd-drawer-ul">
                <li><a class="mdl-navigation__link" href="https://play.google.com/store/apps/details?id=com.greenstagelab.kaicoin.wallet" target="_blank"><i class="fab fa-google-play"></i></a></li>
                <li><a class="mdl-navigation__link" href="http://www.kaicoin.io/ios_download.html" target="_blank"><i class="fab fa-app-store-ios"></i></a></li>
            </ul>
        </nav>
    </div>
