<div class="mtd-search-area">
    <!-- Expandable Textfield -->
    <form action="#">
        <input id="search-keyword" class="mdl-textfield__input" type="text" placeholder="TX ID, Block Height/Hash, Address">
        <i class="material-icons">search</i>
    </form>
</div>