<div class="mtd-search-area">
    <input id="search-keyword" class="mdl-textfield__input" style="width: calc(100% - 78px);margin-right: 9px;" type="text" placeholder="TX ID, Block Height/Hash, Address">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="min-width: 34px;padding: 0 4px 0 12px;"><i class="material-icons">search</i></button>
</div>