<div class="mtd-search-area">
    <a href="/"><img class="show-over-mid logo" src="/res/img/ic-kai-small-title.png" /></a>
    <input id="search-keyword" class="mdl-textfield__input" type="text" placeholder="TX ID, Block Height/Hash, Address">
    <i class="material-icons hide-under-mid">search</i>
</div>