<div class="mtd-search-area">
    <a href="/" style="float: left;line-height: 32px;"><img src="/res/img/ic-kai-small-title.png" /></a>
    <input id="search-keyword" class="mdl-textfield__input" style="float: right;" type="text" placeholder="TX ID, Block Height/Hash, Address">
    <i class="material-icons hide-under-mid">search</i>
</div>